@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: white;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav li{
    padding: 10px 20px;
}